
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {m
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #000;
  Xbackground-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  Xbackground-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  Xbackground-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  Xbackground-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  Xbackground-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  Xbackground-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image:url('banner.png');
  background-repeat: no-repeat; 
  background-position: top center; 
  height: 274px;     
}
a {
  color: #000;
}
a:hover,
a:focus {
  color: #111;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #b8ba7c;
  border-color: #b8ba7c;
}
.sidebar .block-user {
    background-color: #fff; 


}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
