
/* ---------- General Layout ---------- */


@page  
{ 
    Xsize: letter;    /* auto is the initial value */ 
    Xsize: 12cm 20cm;
    Xoverflow: visible; 
    /* this affects the margin in the printer settings */ 
    Xoverflow: visible; 
     Xmargin-left: 6cm;
  Xmargin-right: 6cm;
   
   
}
 

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: auto;   
  font-size: 1.2em;
  Xmargin: 0cm 5cm 0cm 5cm;   
}
#sidebar-first,
#sidebar-second,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}
.one-sidebar #content,
.two-sidebars #content {
  width: 100%;
}
#triptych-wrapper {
  width: 960px;
  margin: 0;
  padding: 0;
  border: none;
}
#triptych-first, #triptych-middle, #triptych-last {
  width: 250px;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}
